PUBLIC_APP_URL=https://maho.kitaith.com
VITE_API_BASE_URL=
MAHOSAMPLE_HTTP_PORT=18080

POSTGRES_DB=mahosample
POSTGRES_USER=mahosample
POSTGRES_PASSWORD=change-this-postgres-password

JWT_SECRET=change-this-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
THAILAND_POST_TRACKING_BASE_URL=https://track.thailandpost.co.th/
THAILAND_POST_API_TOKEN=
