PUBLIC_APP_URL=https://sample.cats.co.th
MAHOSAMPLE_HOST=sample.cats.co.th

POSTGRES_DB=mahosample
POSTGRES_USER=mahosample
POSTGRES_PASSWORD=replace-with-a-random-password

JWT_SECRET=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
THAILAND_POST_API_TOKEN=
